h1{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

form{
    width: 40em;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link{
    text-decoration: none;
    color: rgba(var(--bs-link-color-rgb));
}