h1{ /* заголовок */
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

form{
    width: 40em;
}

main{ /* выравнивание по центру страницы */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link{
    text-decoration: none;
    color: rgba(var(--bs-link-color-rgb)); /* так выглядит использование переменных bootstrap */
}