.button { /* внешний вид выглядящий как кнопка*/
    display: flex;
    border-radius: 0.35em;
    border: solid 0.05em var(--bs-secondary);
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 1.2em;
    color: var(--bs-secondary-text-emphasis);
    box-shadow: inset var(--bs-secondary) 0em -0.1em;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.button:hover { /* при наведении на кнопку */
    box-shadow: inset var(--bs-secondary) 0em -0.07em;
}

.grow {
    flex-grow: 1; /* свойство делает так чтобы объект заполнил все пустое пространство в div*/
}

input:focus { /* убирает некрасивую окантовку при нажатии на поле ввода */
    outline: none;
}

.directory { /* внешний вид папок */
    border-radius: 0.35em;
    border: solid 0.05em var(--bs-secondary);
    padding-left: 0.7em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 1.2em;
    color: var(--bs-secondary-text-emphasis);
}

.dir-icon { /* иконка для папки*/
    margin-right: 0.3em;
    padding:0;
}

.note { /* внешний вид div с информацией о заметке */
    margin-left: 2em;
    border-radius: 0.35em;
    border: solid 0.05em var(--bs-secondary);
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: var(--bs-secondary-text-emphasis);
    background-color: #eff1f4;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.note_type { /* для темы */
    margin-top:  0.2em;
    margin-left: 0.3em;
    font-size: 0.8em;
}

.zero-margin { /* убирает лишние отступы*/
    margin-top: 0;
}

.area { /* для <textarea>, который хранит собственно текст заметки */
    display: flex;
    border-radius: 0.35em;
    border: solid 0.05em var(--bs-secondary);
    color: var(--bs-secondary-text-emphasis);
    box-shadow: inset var(--bs-secondary) 0em -0.1em;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.transparent { /* делает объект полностью прозрачным */
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.bar-icon { /* внешний вид иконок для действий (сохранить, удалить и т.п.) */
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.shift { /* небольшой отступ сбоку */
    margin-right: 0.2em;
}

input[type="checkbox"] { /* цвет галочки */
  accent-color: #dee2e6;
}