html, body, main {
    height: 70%
}

main {
    display: flex;
}

form {
    height: 70%;
}

h1 {
    font-size: 3em;
}

.warning_icon {
    padding: 0;
    padding-bottom: 0.2125em;
}

div {
    justify-content: center;
}

.margin, button {
    margin: 1em;
}

.center-dl {
    margin-left: 4.5em;
}

.center-rg {
    margin-left: 2em;
}

.center-pr {
    margin-left: 3.7em;
}