html, body, main { /* увеличение размеров относительно всего экрана */
    height: 70%
}

main {
    display: flex;
}

form {
    height: 70%;
}

h1 {
    font-size: 3em;
}

.warning_icon { /* иконка для предупреждений */
    padding: 0;
    padding-bottom: 0.2125em;
}

div {
    justify-content: center;
}

.margin, button {
    margin: 1em;
}

.center-dl { /* различные отступы, для удаления */
    margin-left: 4.5em;
}

.center-rg { /* для просьбы зарегистрироваться или войти */
    margin-left: 2em;
}

.center-pr { /* для сообщения "нет доступа" */
    margin-left: 3.7em;
}

.center-nf { /* для сообщения "не найдено" */
    margin-left: 6em;
}