<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href="static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar bg-secondary-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="static/img/icon.svg" class="d-inline-block align-text-top icon">
      WebNote
    </a>
  </div>
</nav>
</header>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>