{% extends "base.html" %}

{% block content %}
<head>
    <link rel='stylesheet' href="static/css/main_style.css">
</head>
    <div>
        button
        button
        button
    </div>
    {% for dir in dir_list %}
        <p class="bg-secondary-subtle directory">
            <img src="static/img/folder.svg" class="icon dir-icon">
            {% if dir != '' %}
                {{dir}}
            {% else %}
                Мои заметки
            {% endif %}
        </p>
        {% for note in dict_notes[dir] %}
            <div class="note">
                <div class="flex_div">
                <p class="small_p">{{note['title']}}</p>
                <div style="flex-grow: 1" class="flex_div"></div>
                <p class="small_p note_type">{{note['type']}}</p>
                </div>
                <p class="small_p note_type zero-margin">{{note['content'][:150] + '...'}}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}