{% extends "base.html" %}

{% block content %}
<head>
    <link rel='stylesheet' href="/static/css/login_style.css">
</head>
<h1>Регистрация</h1>
<form action="" method="post" novalidate> <!-- форма регистрации -->
    {{ form.hidden_tag() }}
    <p class="small_p"> <!-- логин -->
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="small_p"> <!-- пароль -->
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p class="small_p"> <!-- пароль еще раз -->
        {{ form.password_repeat.label }}<br>
        {{ form.password_repeat(class="form-control", type="password") }}<br>
        {% for error in form.password_repeat.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <a href="/login" class="link">Войти</a>
    <p class="text-danger-emphasis" role="alert">{{message}}</p>
</form>
{% endblock %}